.App {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.AddingPassword {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
